/* PlurkIconFont */
@font-face {
    font-family: "PlurkIconFont";
    src: url(https://s.plurk.com/plurkiconfont/fonts/56b9bf723ce932021fa2.eot);
    src: url(https://s.plurk.com/plurkiconfont/fonts/56b9bf723ce932021fa2.eot?#iefix) format("embedded-opentype"), url(https://s.plurk.com/plurkiconfont/fonts/44076e666ea35638c9b2.woff2) format("woff2"), url(https://s.plurk.com/plurkiconfont/fonts/4b1ebc77f3a2c5e4cb64.woff) format("woff"), url(https://s.plurk.com/plurkiconfont/fonts/40d5b90dce5f75c6b2c9.ttf) format("truetype"), url(https://s.plurk.com/plurkiconfont/fonts/15547d485f3b18197326.svg#PlurkIconFont) format("svg");
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "PlurkIconFont";
        src: url(https://s.plurk.com/plurkiconfont/fonts/15547d485f3b18197326.svg#PlurkIconFont) format("svg");
    }
}
[class^="pif-"]:before,
[class*=" pif-"]:before {
    display: inline-block;
    font-family: "PlurkIconFont";
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.pif-add:before {
    content: "\f001";
}
.pif-album:before {
    content: "\f048";
}
.pif-anonymous:before {
    content: "\f002";
}
.pif-anynomous:before {
    content: "\f06f";
}
.pif-arrow-down:before {
    content: "\f003";
}
.pif-arrow-left:before {
    content: "\f004";
}
.pif-arrow-points:before {
    content: "\f005";
}
.pif-arrow-right:before {
    content: "\f006";
}
.pif-arrow-up:before {
    content: "\f007";
}
.pif-back:before {
    content: "\f04e";
}
.pif-banned:before {
    content: "\f078";
}
.pif-birthday:before {
    content: "\f06b";
}
.pif-bone:before {
    content: "\f03f";
}
.pif-camera:before {
    content: "\f008";
}
.pif-campsite:before {
    content: "\f071";
}
.pif-cancel:before {
    content: "\f009";
}
.pif-cant-see:before {
    content: "\f072";
}
.pif-check:before {
    content: "\f00a";
}
.pif-checkbox:before {
    content: "\f07c";
}
.pif-checkbox-checked:before {
    content: "\f07d";
}
.pif-classmates-circle:before {
    content: "\f00b";
}
.pif-clique:before {
    content: "\f00c";
}
.pif-clique-add:before {
    content: "\f052";
}
.pif-close-notification:before {
    content: "\f073";
}
.pif-colleague-circle:before {
    content: "\f00d";
}
.pif-copy:before {
    content: "\f049";
}
.pif-copy-link:before {
    content: "\f04a";
}
.pif-date:before {
    content: "\f067";
}
.pif-delete:before {
    content: "\f00e";
}
.pif-dropdown:before {
    content: "\f00f";
}
.pif-earth:before {
    content: "\f010";
}
.pif-edit:before {
    content: "\f011";
}
.pif-edit-line:before {
    content: "\f047";
}
.pif-edit-time:before {
    content: "\f074";
}
.pif-emoticon:before {
    content: "\f012";
}
.pif-exit:before {
    content: "\f075";
}
.pif-fans:before {
    content: "\f013";
}
.pif-file-search:before {
    content: "\f070";
}
.pif-filter:before {
    content: "\f066";
}
.pif-follow:before {
    content: "\f014";
}
.pif-follow-replurk:before {
    content: "\f05b";
}
.pif-follow-replurk-cancel:before {
    content: "\f05c";
}
.pif-follow_add:before {
    content: "\f015";
}
.pif-follows:before {
    content: "\f016";
}
.pif-friends:before {
    content: "\f017";
}
.pif-friends-line:before {
    content: "\f041";
}
.pif-fullwidth:before {
    content: "\f04b";
}
.pif-gender-boy:before {
    content: "\f06a";
}
.pif-gender-girl:before {
    content: "\f069";
}
.pif-help:before {
    content: "\f07b";
}
.pif-hide:before {
    content: "\f06e";
}
.pif-home:before {
    content: "\f054";
}
.pif-hotplurk:before {
    content: "\f018";
}
.pif-hotplurkers:before {
    content: "\f019";
}
.pif-hotshare:before {
    content: "\f01a";
}
.pif-ignore:before {
    content: "\f076";
}
.pif-info:before {
    content: "\f07a";
}
.pif-keyboard:before {
    content: "\f04c";
}
.pif-like:before {
    content: "\f01c";
}
.pif-like-circle:before {
    content: "\f01b";
}
.pif-location:before {
    content: "\f068";
}
.pif-logout:before {
    content: "\f01d";
}
.pif-look:before {
    content: "\f077";
}
.pif-manager:before {
    content: "\f079";
}
.pif-media:before {
    content: "\f01e";
}
.pif-menu:before {
    content: "\f01f";
}
.pif-message:before {
    content: "\f023";
}
.pif-message-my:before {
    content: "\f020";
}
.pif-message-new:before {
    content: "\f021";
}
.pif-message-private:before {
    content: "\f022";
}
.pif-messages:before {
    content: "\f024";
}
.pif-messages-line:before {
    content: "\f042";
}
.pif-more:before {
    content: "\f043";
}
.pif-more-line:before {
    content: "\f044";
}
.pif-next:before {
    content: "\f04f";
}
.pif-notify:before {
    content: "\f025";
}
.pif-notify-line:before {
    content: "\f050";
}
.pif-option:before {
    content: "\f053";
}
.pif-outlink:before {
    content: "\f026";
}
.pif-password:before {
    content: "\f051";
}
.pif-pin:before {
    content: "\f061";
}
.pif-plurk:before {
    content: "\f027";
}
.pif-plurkapp:before {
    content: "\f028";
}
.pif-plurklogo:before {
    content: "\f062";
}
.pif-poll:before {
    content: "\f06c";
}
.pif-porn:before {
    content: "\f060";
}
.pif-privacy:before {
    content: "\f02a";
}
.pif-privacy-circle:before {
    content: "\f029";
}
.pif-profile:before {
    content: "\f02b";
}
.pif-push:before {
    content: "\f02c";
}
.pif-qrcode:before {
    content: "\f05d";
}
.pif-radio-button:before {
    content: "\f07e";
}
.pif-radio-button-checked:before {
    content: "\f07f";
}
.pif-refresh:before {
    content: "\f02d";
}
.pif-replurk:before {
    content: "\f02f";
}
.pif-replurk-circle:before {
    content: "\f02e";
}
.pif-rotate:before {
    content: "\f065";
}
.pif-scale:before {
    content: "\f063";
}
.pif-search:before {
    content: "\f030";
}
.pif-search-line:before {
    content: "\f045";
}
.pif-setting:before {
    content: "\f031";
}
.pif-share:before {
    content: "\f04d";
}
.pif-show:before {
    content: "\f06d";
}
.pif-smile:before {
    content: "\f032";
}
.pif-space:before {
    content: "\20";
}
.pif-star:before {
    content: "\f05e";
}
.pif-star-circle:before {
    content: "\f05f";
}
.pif-store:before {
    content: "\f055";
}
.pif-store-buy:before {
    content: "\f056";
}
.pif-store-friends:before {
    content: "\f057";
}
.pif-store-hot:before {
    content: "\f058";
}
.pif-store-my:before {
    content: "\f059";
}
.pif-store-order:before {
    content: "\f05a";
}
.pif-sync:before {
    content: "\f033";
}
.pif-tag:before {
    content: "\f040";
}
.pif-theme:before {
    content: "\f034";
}
.pif-timemachine:before {
    content: "\f046";
}
.pif-topplurk:before {
    content: "\f035";
}
.pif-tweak:before {
    content: "\f064";
}
.pif-user-add:before {
    content: "\f036";
}
.pif-user-asking:before {
    content: "\f037";
}
.pif-user-blocked:before {
    content: "\f038";
}
.pif-user-follow:before {
    content: "\f039";
}
.pif-user-friend:before {
    content: "\f03a";
}
.pif-verified:before {
    content: "\f03b";
}
.pif-volume:before {
    content: "\f03d";
}
.pif-volume-mute:before {
    content: "\f03c";
}
.pif-warning:before {
    content: "\f03e";
}
